<br><br>
<br><br>
<br><br>
<% if current_user %>
	<h1>Welcome <%= current_user.fname %></h1><br>
	<h4>Logged In As: <%= current_user.email %></h4>
	<h4>Current User Name: <%= current_user.username %></h4>
<% end %>


<br><br>

<form method="POST" action="/Posts" class="contact_form" name="contact_form">   
	<label for="title">Title</label>   
	<input type="string" name="title" placeholder="My Awesome Post"> <br><br><br><br> 
	<label for="body">Comments</label> 
	<textarea type="text" name="body" rows="5" cols="30" placeholder="Enter your post here"></textarea>
	<button class="submit" type="submit">Submit Post</button> 
</form>


<% @posts.last(4).reverse.each do |t| %>
	<div id="posts">
		<hr>
		<h3><%= t.title %></h3>
		<p><%= t.body %></p>
	</div>
<% end %>
